html,body{
  margin: 0;
  padding:0;
  font-family: sans-serif;
  box-sizing: border-box;
 
}
input {
  all: unset;
 
}
button {
  all: unset;
  cursor: pointer;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.navbar {
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 28px;
  transition: all 0.4s ease, color 0.4s ease;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  height: 70px;
  background: rgba(255, 255, 255, 0.6); 
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.functions{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.logo{
  color:rgb(99, 164, 255)
}
.functionname{
  display: flex;
  align-items: center;
  gap: 5px;
  /* color: rgb(225, 232, 240); */
  transition: background-color 0.3s ease;
  padding:0 20px;
  height: 40px;
  font-weight: 300;
  border-radius: 20px;
}
.functionname img{
  width: 30px;
  height: 30px;
}
.functions h3{
  
  font-weight: 300;
}
.left{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.login{
  display: flex;
  align-items: center;
  gap: 5px;

  border: 1px solid #1e293b;
  border-radius: 20px;
  height: 40px;
  justify-content: center;
  padding: 0 10px;
  transition: background-color 0.3s ease;
}

.login img{
  width: 30px;
  height: 30px;
}
.darkmode img{
  width: 20px;
  height: 20px;
}
.functionname a{
  font: 300;
  font-size: 20px;
color: inherit;
  text-decoration: none;
}
.darkmode {
  display: flex;
  align-items: center;
}
.darkmode:hover{
  cursor: pointer;
}
.functionname:hover{
  border-radius: 20px;
  background-color:rgb(78, 84, 100) ;
  cursor: pointer;
}
.login:hover{
  background-color:rgb(99, 164, 255) ;
  cursor: pointer;

}
.login h3{
  font-weight: 300;
}
.borer{
  height: 1px;
  background-color: #1e293b;
}
.homes{
  margin: 0;
  margin-top: 30px;
  padding-left: 350px;
  padding-top: 70px;
 padding-bottom: 280px;
  background: linear-gradient(to right,#0c1526,#020611);
  
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.abouthome{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.abouthome h1{
  font-size: 35px;
  font-weight: 900;
  color: #53a9ff;
}
.abouthome h5{
  font-weight: 200;
  font-size: 16px;
  color:#7f8da3
}
.abouttimer{

  display: flex;
  flex-direction: column;
  gap: 10px; 
}
.homes1{
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  height: max-content;
  padding-bottom: 900px;

  padding-left: 500px;
  padding-top: 70px;
  background: linear-gradient(to right,#0c1526,#020611);
  
}
.homes2{
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  height: max-content;
  padding-bottom: 800px;


  padding-left: 500px;
  padding-top: 70px;
  background: linear-gradient(to right,#0c1526,#020611);
  
}
.abouttimer h1{
  font-size: 35px;
  font-weight: 900;
  color: #e1e7ef;

}
.abouttimer h5{
  font-weight: 200;
  font-size: 16px;
  color:#7f8da3
}
.aboutpomodoro h3{
  color: #e1e7ef;


}
.aboutpomodoro ul{
  color: #7f8da3;
}
.aboutpomodoro{
  border: 1px solid #1d212a;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  gap: 20px;
  width: 490px;
  box-sizing: border-box;
  background: linear-gradient(to right,#030712,#090f1e);
}
.li{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.namecomple{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.namecomple h1{
  font-size: 35px;
  font-weight: 900;
  color: #e1e7ef;
}
.namecomple h5{
  font-weight: 200;
  font-size: 16px;
  color:#7f8da3
}
.displaytimeleft h1{
  color: rgb(97, 165, 255);
  font-size: 50px;
}
.pomodoro{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 20px;
 
  background:linear-gradient(to right,#0e1b31,#090f1e);
  border: 1px solid #242f3f;
  border-radius: 20px;
  width: 490px;
  align-items: center;
  justify-content: center;
}
.buttons{
  display: flex;
  align-items: center;
  gap: 60px;
}
.start{
  display: flex;
  align-items: center;
}
.b{
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  width: 100px;
  padding: 10px 20px;
  border-radius: 20px;
  
  
}
.a{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 115px;
  padding: 20px;
  height: 40px;
  background-color: #090f1d;
 
  border-radius: 20px;
  border: 1px solid #393f49;

}
.a img{
  height: 25px;
  width: 25px;
}
.b img{
  height: 30px;
  width: 30px;
}
.start{
  width: 70px;
 
}
.start button{
  width: 150px;
 border-radius: 20px;
 padding-right: 20px;
  background-color: #5fa6ff

}

.a p{
  color: #e1e7ef;
}
.minurtesbutton{
  display: flex;
  gap: 40px;
  
}
.newnew{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(247, 250, 252);
  background: linear-gradient(to right,#0b1121,#18253f);
  border-radius: 15px;
  height: 40px;
  padding-left: 40px;
  width: 130px;
  border: 0.2px solid #242e3f;

}
.newnew button{
  width: 60px;
  height: 30px;

  
}
.mininp{
  height: 40px;
}
.mininp input{
  width: 345px;
  font-size: 20px;
  height: 40px;
  background-color: #08101e;
  border: 1px solid #383f49;
  border-radius: 20px;
  text-align: center;
  padding:0 20px;
  color: #e1e7ef;
 
}
.inputtimer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.inputtimer button{
  padding-left:20px ;
  height: 40px;
  width: 50px;
  background-color: #61a5ff;
  border-radius: 10px;
}
.progressionbar{
  height: 30px;
  width: 400px;

  background-color: #060e1b;
  border-radius: 20px;
}
.progressionbarinfo{
  border: 1px solid #212937;
  background: linear-gradient(to right,#0f1d31,#090f1e);
  border-radius: 20px;
  width: 800px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.progress{
  display: flex;
  justify-content: space-between;
}
.pro{
  color: #e1e7ef;
  font-size: 20px;
  font-weight: 300;
}
.precentdisplay{
  color: rgb(87, 168, 255);
  font-size: 20px;
  font-weight: 300;
}


.displaycompletedtask{
  display: flex;
  justify-content: space-between;
  color: #7f8da3;
  font-size: 15px;
}
.precentdisplay{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.precentdisplay img{
  width: 30px;
  height: 30px;
}
.addtasksdiv{
  background: linear-gradient(to right,#192a46,#0d1729);
  border: 1px solid #2f3d55;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  width: 800px;
  flex-direction: column;
gap: 10px;

}
.addnew{
  font-size: 20px;
  color: #e1e7ef;
}
.inputtaskbar input{
  background-color: #091121;
  width: 710px;
  height: 25px;
  padding:10px 20px;
  border-radius: 20px;
  color: #7f8da3;
  border: 1px solid #2f3d55;

  
}
.addtimereachtask{
  display: flex;
  align-items: center;
  gap: 20px;

}
.inputtimemin input{
  background-color: #091121;
  width: 80px;
  height: 25px;
  padding:10px 20px;
  border-radius: 20px;
  color: #7f8da3;
  border: 1px solid #2f3d55;

}
.timename{
  font-size: 17px;
  color: #e1e7ef;
}
.buttonaddtask{
  display: flex;
  background-color: #60a5ff;
  width: 710px;
  height: 25px;
  padding: 5px 20px;
  gap: 10px;
  font-size: 20px;
  justify-content: center;
  border-radius: 20px;
}
.pendingtask{
  font-size: 20px;
  color: #e1e7ef;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.taskdisplayname1{
  display: flex;
  background: linear-gradient(to right,#192844,#030712);
  border: 1px solid #2f3d55;
  border-radius: 20px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  width: 800px;gap: 3px;
}
.imagesdoneedit{
  display: flex;
  gap: 10px;
}
.imagesdoneedit img{
  width: 30px;
  height: 30px;
}
.tasktimeduration{
  display: flex;
  gap: 10px;
  align-items: center;
}
.tasktimeduration img{
  width: 30px;
  height: 30px;
}
.taskname11{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.taskname12{
  color: #e1e7ef;
  font-size: 19px;
}
.timedisplay{
  font-size: 15px;
  color: #7f8da3;
}
.displaypendingtask{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.probar{
  width: 700px;
  height: 10px;
  background-color: #080e1d;
  border-radius: 20px;
}
.probarfill{
  height: 10px;
  border-radius: 20px;
  transition: all 0.4s linear;
}
.edit-task input{
  background-color:#0c1426 ;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  border: 1px solid #2f3d55;
  padding: 0 20px;
  
}
.edit-task {
  display: flex;
  
  gap: 10px;
}
.edit-task button{
  border: 1px solid #2f3d55;
  height: 40px;
  background-color: #61a5ff;
  border-radius: 10px;
  width: 80px;
  text-align: center;
  font-size: 20px;

}
.progressionbar12{
  width: 600px;
  height: 10px;

  border-radius: 20px;
  background-color: #0b162b;
}
.progressionbarfill12{
  width: 600px;
  height: 10px;
  background-color: #61a5ff;
  transition: all 1s linear;
  border-radius: 20px;
  
}
.completeddivmain{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #1b2333;
  

  background:linear-gradient(to right,#172643,#030712)
}
.completedtaskname{
  color: #5b6579;
  font-size: 17px;
}
.timeforcompletdtask{
  display: flex;
  align-items: center;

  gap: 10px;

}
.timeforcompletdtask{
  color: #5b6579;
  font-size: 17px;
}
.timeforcompletdtask img{
  width: 30px;
  height: 30px;
}
.progressionbar22{
  width: 500px;
  height: 10px;
  background-color: #3b79b9;
  border-radius: 20px;
  transition: all 0.5s linear;
}
.play img{

  align-items: center;
  width: 50px;
  height: 50px;

}
@media(max-width:1227px){
  .progressionbarinfo{
    width: 600px;
  }
  .probar{
    width: 500px;
  }
  .probarfill{
    width: 500px;

  }
  .addtasksdiv{
    width: 600px;

  }
  .inputtaskbar input{
    width: 500px;
  }
  .buttonaddtask{
    width: 500px;
  }
  .taskdisplayname1{
    width: 600px;
  }
  .progressionbar12{
    width: 320px;
  }
  .progressionbar22{
    width: 320px;

  }

}
@media(max-width:968px){
  .homes{
    padding: 70px 0 280px 200px;
  }
}
@media(max-width:829px){
  .homes{
    padding: 70px 0 280px 100px;
  }
}
@media(max-width:750px){
  .logo{
    font-size: 15px;
  }
  .functionname{
    font-size: 9px;
  }
  .functionname img{
    width: 20px;
    height: 20px;
  }
  .login{
    font-size: 12px;

  }
  .login img{
    width: 20px;
    height: 20px;
  }
}
@media(max-width:712px){
  .homes{
    padding:50px 0 200px 50px;
  }
}
@media(max-width:685px){
  .logo h2{
    font-size:15px ;
  }
  .functionname a{
    font-size: 15px;
  }
  .functionname img{
    width: 15px;
    height: 15px;
  }
  
  .login img{
    width: 15px;
    height: 15px;
  }
}
@media(max-width:669px){
  .homes{
    padding:50px 0 200px 10px;
  }
}
@media(max-width:626px){
  .homes{
    padding:50px 0 200px 70px;
  }
  .progressionbarinfo{
    width: 400px;
  }
  .probar{
    width: 300px;
  }
  .probarfill{
    width: 300px;

  }
  .addtasksdiv{
    width: 400px;

  }
  .inputtaskbar input{
    width: 300px;
  }
  .buttonaddtask{
    width: 300px;
  }
  .addtaskpname{
    font-size: 15px;
  }
  .mgadd{
    font-size: 15px;
  }
  .taskdisplayname1{
    width: 400px;
  }
  .progressionbar12{
    width: 150px;
  }
  .progressionbar22{
    width: 150px;

  }
  .imgdone img{
    width: 20px;
    height: 20px;

  }
  .imgedit img{
    width: 20px;
    height: 20px;
  }
  .imgdeleter img{
    width: 20px;
    height: 20px;
  }

}
@media(max-width:574px){
  .functions{
    gap: 0px;
  }
  .functionname{
    padding: 5px;
  }
}
@media(max-width:496px){
  .navbar{
    padding: 0 10px;
  }

}
@media(max-width:481px){
  .abouthome h1{
    font-size: 20px;
  }
  .homes{
    padding:50px 0 280px 20px;
  }



}
@media(max-width:473px){
  .functionname img{
    display: none;

  }
}
@media(max-width:426px){
  .progressionbarinfo{
    width: 300px;
  }
  .homes{
    padding:50px 0 280px 70px;
  }
  .probar{
    width: 200px;
  }
  .probarfill{
    width: 200px;

  }
  .addtasksdiv{
    width: 300px;

  }
  .inputtaskbar input{
    width: 200px;
    height: 20px;
  }
  .buttonaddtask{
    width: 200px;
  }
  .addtaskpname{
    font-size: 15px;
  }
  .mgadd{
    font-size: 15px;
  }
  .timename p{
    font-size: 15px;
  }
  .inputtimemin input{
    height: 20px;
  }
  .taskdisplayname1{
    width: 300px;
  }
  .progressionbar12{
    width: 150px;
  }
  .progressionbar22{
    width: 150px;

  }
  .imgdone img{
    width: 20px;
    height: 20px;

  }
  .imgedit img{
    width: 20px;
    height: 20px;
  }
  .imgdeleter img{
    width: 20px;
    height: 20px;
  }
  .taskdisplayname1 img{
    width: 25px;
    height: 25px;

  }
  .taskname12 p{
    font-size: 14px;
  }

}
@media (max-width:389px) {
  .left{
    gap: 5px;
  }
  .homes{
    padding:50px 0 280px 30px;
  }
  
}
@media(max-width:1238px) {
  .homes1{
    padding: 70px 0 0 200px;
  }
  
}
@media (max-width:1093px) {
  .completeddivmain{
    width: 500px;
  }
  .homes1{
    padding: 70px 0 0 300px;
  }
  .progressionbar22{
    width: 400px;
  }
  
}
@media (max-width:900px) {
  .homes1{
    padding: 70px 0 0 200px;
  }

  
}
@media (max-width:724px) {
  .homes1{
    padding: 70px 0 0 100px;
  }

  
}
@media (max-width:627px) {
  .homes1{
    padding: 70px 0 0 100px;
  }
  .completeddivmain{
    width: 300px;
  }

  .progressionbar22{
    width: 230px;
  }

  
}
@media (max-width:445px) {
  .namecomple h1{
    font-size: 20px;
  }
  .homes1{
    padding: 70px 0 0 100px;
  }
  .completeddivmain{
    width: 260px;
  }

  .progressionbar22{
    width: 180px;
  }
}
@media (max-width:402px){
  .homes1{
    padding: 70px 0 0 50px;
  }

}
@media (max-width:644px) {
  .pomodoro{
    width: 400px;
  }
  .progressionbar{
    width: 250px;
  }
  .progressionbarfill{
    width: 250px;

  }
  .mininp input{
    width: 220px;
  }
  .newnew{
    width: 60px;
  }
  .aboutpomodoro{
    width: 400px;
  }
 
}
@media(max-width:530px){
  .homes1{
    padding: 70px 0 0 50px; ;
  }
}
@media(max-width:467px){
  .pomodoro{
    width: 260px;
  }
  .progressionbar{
    width: 140px;
  }
  .progressionbarfill{
    width: 140px;

  }
  .mininp input{
    width: 110px;
    font-size: 10px;
  }
  .newnew{
    width: 35px;
  }
  .aboutpomodoro{
    width: 260px;
  }
  .inputtimer button{
    font-size: 12px;
    width: 32px;

  }

}




